*{
    font-family: "Roboto",sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Allow content to grow and take up available space */
}

.nav-items:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid gray;
}
.review-img{
    border: 4px solid rgb(87, 87, 247);
}
.transition-box {
    transition: transform 1.2s ease;
}

.transition-box:hover {
    transform: scale(1.1);
    border: 3px solid springgreen;
}
.menu-bg{
    background-color: rgba(41, 245, 164, 0.1);
}
.options {
    transition: transform 0.1s ease, border 0.2s ease;
  }
  
  .options:hover {
    border: 3px solid rgb(7, 40, 254);
  }
  
.contact-bg{
    background-color: rgb(169, 251, 223);
    width: 40vw;
}
@media screen and (max-width:1100px) {
    .contact-bg{
        width: 60vw;
    }
}
@media screen and (max-width:800px) {
    .contact-bg{
        width: 80vw;
    }
}
@media screen and (max-width:600px) {
    .contact-bg{
        width: 100vw;
    }
}
.card-img-top{
    width: 50vh;
    height: 35vh;
}
.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-in-out;
    transform: translateY(-50%);
  }
  .column-1{
    order: 3;
}
.column-2{
    order: 2;
}
  @media screen and (min-width: 1100px) and (max-width: 1600px) {
    .about-img{
        height: 80vh;
    }
    .para{
        font-size: 20px !important;
    }
    .column-1{
        order: 1;
    }
    .column-2{
        order: 2;
    }
  }    
  @media screen and (min-width: 300px) and (max-width: 1099px) {
    .column-1{
        order: 3;
        display: block;
        width: 100vw;
    }
    .column-2{
        order: 2;
        display: block;
        width: 75vw;
        margin: auto;
    }
    .para{
        margin-left: 18%;
        margin-right: 10%;
    }
  }  

.profile-orders:hover{
    background-color: #fce4e4;
    border: 2px solid rgba(255, 0, 0,0.3) !important;
}

.prodImg{
    width: 300px;
    height: 100%;
}
.imgDiv{
    height:70px
}

@media screen and (max-width: 992px) {
    .prodImg{
        width: 100%;
        height: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .imgDiv{
        height:70px
    }
  }  
  .table-container {
    overflow-x: auto !important;
    white-space: nowrap !important;
  }
  @media screen and (max-width: 500px) {
  .cartImg{
    display: none;
  }}
  .disabled-icon {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .choose-cont{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/home-bg1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    color: white; 
  }
  .steps-cont {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/home-bg5.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(255, 255, 255);
  }
  .cust-cont{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/home-bg4.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(255, 255, 255);
  }
  .faq-cont{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/home-bg3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(255, 255, 255);
  }
  .about-cont{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/bg-3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(255, 255, 255);
  }
  .register-cont{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/bg-1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    color: rgb(255, 255, 255);
  }
  